<template>
  <q-page class="row items-center justify-evenly">
    <operators-list
      title="Example component"
      :operators="operators"
    />
  </q-page>
</template>

<script lang="ts">
import OperatorsList from 'components/OperatorsList.vue';
import { Vue, Component } from 'vue-property-decorator';
import { mapGetters } from 'vuex';

@Component({
  components: { OperatorsList },
  computed: {
    ...mapGetters({ operators: 'operatorsModule/getOperators' }),
  },
})
export default class PageIndex extends Vue {

}
</script>
