<template>
  <q-page class="q-pt-xl">
    <replenishment-balance />
  </q-page>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ReplenishmentBalance from 'components/ReplenishmentBalance.vue';
import { mapGetters } from 'vuex';
import { Operator } from 'components/models';

@Component({
  computed: {
    ...mapGetters({ operators: 'operatorsModule/getOperators' }),
  },
  components: {
    ReplenishmentBalance,
  },
})
export default class PageIndex extends Vue {
  beforeMount(): void {
    if (!this.operators.find(
      (operator: Operator) => operator.slug === this.$route.params.operator,
    )
    ) {
      // eslint-disable-next-line @typescript-eslint/no-floating-promises
      this.$router.push('/');
    }
  }

  operators!: Operator[]
}
</script>
