<template>
  <div class="b-container">
    <div class="row justify-center q-col-gutter-lg">
      <router-link
          class="col-6 col-xs-6 col-sm-4 col-md-3 cursor-pointer"
          v-for="operator in operators"
          :key="operator.name"
          tag="div"
          :to="`/operators/${operator.slug}`"
        >
          <q-img
            :src="operator.img"
          >
            <div class="absolute-bottom text-subtitle2 text-center">
              {{ operator.name }}
            </div>
          </q-img>
        </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Operator } from './models';

@Component
export default class OperatorsList extends Vue {
  @Prop({ type: Array, default: () => [] }) readonly operators!: Operator[];
}
</script>
