<template>
  <div class="replenishment-balance b-container">
    <div class="row items-center justify-evenly">
      <div class="col-8 col-xs-8 col-sm-5 col-md-4 col-lg-3 cursor-pointer">
        <div
          class="column"
        >
          <q-btn
            label="Назад"
            icon="keyboard_backspace"
            to="/"
            class="q-mb-md"
            left
          />
          <q-img
            v-if="currentOperator"
            :src="currentOperator.img"
          >
            <div class="absolute-bottom text-subtitle2 text-center">
              {{ currentOperator.name }}
            </div>
          </q-img>
        </div>
        <q-input
          ref="phone"
          v-model="phone"
          class="full-width q-mb-md"
          fill-mask="_"
          :rules="[
            val => !val.includes('_') || '+7 (###) ### - ## - ##',
            val => $v.phone.required || '+7 (###) ### - ## - ##',
          ]"
          label="Номер телефона"
          lazy-rules
          mask="+7 (###) ### - ## - ##"
          @input="$v.phone.$touch()"
        />
        <q-input
          ref="summ"
          v-model="summ"
          :rules="[
            val => $v.summ.required || 'сумма обязательна для заполнения',
            val => $v.summ.integer || 'сумма должна быть целым числом',
            val => $v.summ.between || 'сумма должна быть от 1 до 1000 рублей',
          ]"
          class="full-width q-mb-md"
          label="Сумма"
          lazy-rules
          suffix="Руб."
          @input="$v.summ.$touch()"
        />
        <q-btn
          class="full-width"
          label="Пополнить баланс"
          @click="action()"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Ref, Vue } from 'vue-property-decorator';
import { Validate } from 'vuelidate-property-decorators';
import { between, integer, required } from 'vuelidate/lib/validators';
import { mapActions } from 'vuex';
import { mapGetters } from 'app/node_modules/vuex';
import { Operator } from 'components/models';

@Component({
  methods: {
    ...mapActions({ replenishmentBalance: 'operatorsModule/replenishmentBalance' }),
  },
  computed: {
    ...mapGetters({ operators: 'operatorsModule/getOperators' }),
  },
})
export default class ReplenishmentBalance extends Vue {
  name: string = this.$route.params.operator;

  @Validate({ required })
  phone = '';

  @Validate({ required, between: between(1, 1000), integer })
  summ = '';

  replenishmentBalance!: (payload: { phone: string; summ: string }) => Promise<boolean>;

  @Ref('summ')
  summRef!: { validate: () => boolean };

  @Ref('phone')
  phoneRef!: { validate: () => boolean };

  operators!: Operator[];

  get currentOperator() {
    const current = this.operators
      .find((operator) => operator.slug === this.$route.params.operator);
    if (current) {
      return current;
    }
    return undefined;
  }

  action() {
    // eslint-disable-next-line @typescript-eslint/no-unsafe-call
    this.$v.$touch();
    if (!this.$v.$invalid) {
      this.replenishmentBalance({
        phone: this.phone,
        summ: this.summ,
      }).then(() => {
        this.$q.notify({
          position: 'top',
          icon: 'add_task',
          color: 'positive',
          message: 'Успешно',
        });
        this.$router.push('/');
      }).catch(() => {
        this.$q.notify({
          position: 'top',
          icon: 'error',
          color: 'negative',
          message: 'Ошибка',
        });
      });
    } else {
      this.summRef.validate();
      this.phoneRef.validate();

      this.$q.notify({
        position: 'top',
        icon: 'error',
        color: 'negative',
        message: 'Неправильно заполненны данные',
      });
    }
  }
}
</script>
