// Контейнер bootstrap-like
.b-container {

  margin-left: auto;
  margin-right: auto;

  max-width: 100% !important;
  width: 1240px;

  @media only screen and (max-width: $breakpoint-sm), only screen and (max-device-width: $breakpoint-sm) {
    padding-left: 16px;
    padding-right: 16px;
    width: 600px;
  }

  @media only screen and (max-width: $breakpoint-md), only screen and (max-device-width: $breakpoint-md) {
    padding-left: 16px;
    padding-right: 16px;
    width: 1024px;
  }

  @media only screen and (max-width: $breakpoint-lg), only screen and (max-device-width: $breakpoint-lg) {
    width: 1240px;
  }

  @media only screen and (min-width: 1440px), only screen and (min-device-width: 1440px) {
    width: 1400px;
  }
}
